<h1></h1>
<form action="/allergies">
  <div class="form-group">
    <label for="Allergy Score">Please enter your allergy score:</label>
    <!--<input id="allergy_s" name="allergy_s" class="form-control" type="text">-->
    <input type="number" id="allergy_s" name="allergy_s" class="form-control" min="1" max="255">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
