<div class="results">
  <h1>You are allergic to...</h1>
  <%= @results  %>
  <br />
  <h1>...good luck with that.</h1>
  <br />
  <a href="/">Wait, I typed that in wrong - let me try again.</a>
</div>
